<h1>Listing mailaddresses</h1>

<div class="row" style="padding:15px;">
	<div class="col-md-12">
    <%= button_to 'New Mailaddress', new_mailaddress_path, { :class=> 'btn btn-success', :method => 'get' } %>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Mailadd</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zipcode</th>
      <th>Project</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mailaddresses.each do |mailaddress| %>
      <tr>
        <td><%= mailaddress.mailadd_id %></td>
        <td><%= mailaddress.address %></td>
        <td><%= mailaddress.city %></td>
        <td><%= mailaddress.state %></td>
        <td><%= mailaddress.zipcode %></td>
        <td><%= mailaddress.project_id %></td>
        <td><%= button_to 'Show', mailaddress, { :class=> 'btn btn-primary', :method => 'get' } %></td>
        <td><%= button_to 'Edit', edit_mailaddress_path(mailaddress), { :class=> 'btn btn-default', :method => 'get' } %></td>
        <td><%= button_to 'Destroy', mailaddress, :class=> 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
