<div style="padding:15px;background:#ccc;">
  <div class="row">
    <div class="col-md-12">
      <%= notice %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Mail Address ID:</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= @mailaddress.mailadd_id %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Address:</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= @mailaddress.address %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>City:</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= @mailaddress.city %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>State:</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= @mailaddress.state %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Zip Code:</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= @mailaddress.zipcode %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Project ID:</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= @mailaddress.project_id %>
    </div>
  </div>

  <div class="row" style="margin-top:15px;">
    <div class="col-md-1">
      <%= button_to 'Edit', edit_mailaddress_path(@mailaddress), { :class=> 'btn btn-primary', :method => 'get' } %>
    </div>
    <div class="col-md-1">
      <%= button_to 'Back', mailaddresses_path, { :class=> 'btn btn-default', :method => 'get' } %>
    </div>
  </div>
</div>
