<p id="notice"><%= notice %></p>

<p>
  <strong>Mailadd:</strong>
  <%= @mailaddress.mailadd_id %>
</p>

<p>
  <strong>Address:</strong>
  <%= @mailaddress.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @mailaddress.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @mailaddress.state %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @mailaddress.zipcode %>
</p>

<p>
  <strong>Project:</strong>
  <%= @mailaddress.project_id %>
</p>

<%= link_to 'Edit', edit_mailaddress_path(@mailaddress) %> |
<%= link_to 'Back', mailaddresses_path %>
