<p id="notice"><%= notice %></p>

<p>
  <strong>Zipcode:</strong>
  <%= @zipcode.zipcode_id %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @zipcode.zipcode %>
</p>

<p>
  <strong>County:</strong>
  <%= @zipcode.county_id %>
</p>

<%= link_to 'Edit', edit_zipcode_path(@zipcode) %> |
<%= link_to 'Back', zipcodes_path %>
