<div style="padding:15px;background:#ccc;">
  <div class="row">
    <div class="col-md-12">
      <%= notice %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Zip Code ID:</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= @zipcode.zipcode_id %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Zip Code:</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= @zipcode.zipcode %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>County ID:</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= @zipcode.county_id %>
    </div>
  </div>

  <div class="row" style="margin-top:15px;">
    <div class="col-md-1">
      <%= button_to 'Edit', edit_zipcode_path(@zipcode), { :class=> 'btn btn-primary', :method => 'get' } %>
    </div>
    <div class="col-md-1">
      <%= button_to 'Back', zipcodes_path, { :class=> 'btn btn-default', :method => 'get' } %>
    </div>
  </div>
</div>
