<h1>Listing physicaladdresses</h1>

<div class="row" style="padding:15px;">
	<div class="col-md-12">
    <%= button_to 'New Physicaladdress', new_physicaladdress_path, { :class=> 'btn btn-success', :method => 'get' } %>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Phyadd</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zipcode</th>
      <th>Project</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @physicaladdresses.each do |physicaladdress| %>
      <tr>
        <td><%= physicaladdress.phyadd_id %></td>
        <td><%= physicaladdress.address %></td>
        <td><%= physicaladdress.city %></td>
        <td><%= physicaladdress.state %></td>
        <td><%= physicaladdress.zipcode %></td>
        <td><%= physicaladdress.project_id %></td>
        <td><%= button_to 'Show', physicaladdress, { :class=> 'btn btn-primary', :method => 'get' } %></td>
        <td><%= button_to 'Edit', edit_physicaladdress_path(physicaladdress), { :class=> 'btn btn-default', :method => 'get' } %></td>
        <td><%= button_to 'Destroy', physicaladdress, :class=> 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
