<div style="padding:15px;background:#ccc;">
  <div class="row">
    <div class="col-md-12">
      <%= notice %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Originator ID:</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= @originator.originator_id %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Name:</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= @originator.name %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Phone Number:</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= @originator.phonenumber %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Phone Description:</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= @originator.phonedescription %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Email:</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= @originator.email %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Email Description:</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= @originator.emaildescription %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Fax Number:</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= @originator.faxnumber %>
    </div>
  </div>

  <div class="row" style="margin-top:15px;">
    <div class="col-md-1">
      <%= button_to 'Edit', edit_originator_path(@originator), { :class=> 'btn btn-primary', :method => 'get' } %>
    </div>
    <div class="col-md-1">
      <%= button_to 'Back', originators_path, { :class=> 'btn btn-default', :method => 'get' } %>
    </div>
  </div>
</div>
