<h1>Listing units</h1>

<div class="row" style="padding:15px;">
	<div class="col-md-12">
    <%= button_to 'New Unit', new_unit_path, { :class=> 'btn btn-success', :method => 'get' } %>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Unit</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @units.each do |unit| %>
      <tr>
        <td><%= unit.unit_id %></td>
        <td><%= unit.name %></td>
        <td><%= button_to 'Show', unit, { :class=> 'btn btn-primary', :method => 'get' } %></td>
        <td><%= button_to 'Edit', edit_unit_path(unit), { :class=> 'btn btn-default', :method => 'get' } %></td>
        <td><%= button_to 'Destroy', unit, :class=> 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
